@import "../base/colors";

$atomBorder: $black;
$atomContainerBackground: $blackDark;

.atom-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 10px;
	background-color: #191919;
	color: $white;
}

.atom {
	border: 1px solid $atomBorder;
	height: 100px;
	left: 0;
	opacity: 1;
	padding: 5px 5px 5px 10px;
	position: absolute;
	top: 0;
	transition-delay: 0s;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0s;
	-webkit-transition-property: transform, opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	width: 100px;
	&.leave {
		opacity: 0;
	}
}

.atom-input {
	margin: 20px 0 20px 0;
	display: flex;
	justify-content: flex-start;
}
#atom-form {
	label {
		padding: 5px 5px 5px 0;
	}
	input[type="text"] {
		padding: 5px;
	}
	.atom-select {
		border: 0;
		width: 100%;
	}
}

.atom-preview {
	position: relative;
	margin: 20px 0 20px 25px;
	height: 100px;
	width: 100px;
}

.atom-number {
	visibility: visible;
	font-size: 0.8em;
	text-align: right;
}

.atom-symbol {
	font-size: 2.4em;
	font-weight: 600;
}

.atom-name {
	font-size: 0.8em;
}

.atom-weight {
	font-size: 0.8em;
}

.atom-list {
	position: relative;
	clear: both;
	width: 500px;
	height: 300px;
	border: 1px solid $atomBorder;
}

.error {
	visibility: hidden;
	height: 15px;
	font-size: 0.8em;
	color: $red;
	padding: 5px 0;
}

@media (min-width: 1200px) {
	.atom-container {
		display: flex;
		width: 600px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: auto;
	}
}