.filter-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h3 {
		margin: 5px;
	}
	.filter-list {
		.btn {
			margin: 5px;
		}
	}
}
