* {
	box-sizing: border-box;
}
html {
	font-family: "Verdana, Geneva", sans-serif;
	font-size: 16px;
}

.appear-enter {
	transition: opacity .7s ease-out;
	opacity: 0;
}

.appear-enter.appear-enter-active {
	opacity: 1;
}

.appear-leave {
	opacity: 0;
}

.hidden {
	display: none;
}

label {
	display: block;
}

.atom-preview {
	position: relative;
	height: 100px;
}

.atom {
	border: 1px solid #000000;
	height: 100px;
	left: 0;
	padding: 5px 5px 5px 10px;
	position: absolute;
	top: 0;
	transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
	width: 100px;
}

.atom-number {
	visibility: visible;
	font-size: 0.8em;
	text-align: right;
}
.atom-symbol {
	font-size: 2.4em;
	font-weight: 600;
}
.atom-name {
	font-size: 0.8em;
}
.atom-weight {
	font-size: 0.8em;
}

.atom-list {
	position: relative;
}
