* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana, Geneva", sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: none;
}

label {
	display: block;
}

.hidden {
	display: none;
	height: 100px;
}

.btn {

}
