@import "../base/colors";
$backgroundColor: $greyBlack;

* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana, Geneva", sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: none;
	background: $backgroundColor;
}

label {
	display: block;
}

.hidden {
	display: none;
	height: 100px;
}

.btn {

}
